<ion-header class="mobile-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="myMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="header-title">
        <ion-img src="../../assets/images/jasoneastburn-avatar.jpg"></ion-img>
        <ion-label class="title">
          <a routerLink="/" routerLinkActive="active">JASON EASTBURN</a>
        </ion-label>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-row class="desktop-header">
  <div class="header-title">
    <ion-img src="../../assets/images/jasoneastburn-avatar.jpg"></ion-img>
    <ion-label class="title">
      <a routerLink="/" routerLinkActive="active">JASON EASTBURN</a>
    </ion-label>
  </div>
  <div class="menu-items">
    <a routerLink="/" routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/" routerLink="/content" routerLinkActive="active">Content</a>
    <a routerLink="/" routerLink="/projects" routerLinkActive="active">Projects</a>
    <a routerLink="/" routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/" routerLink="/contact" routerLinkActive="active">Contact</a>
  </div>
</ion-row>
<hr />
