hr {
  border: none;
  margin: 0px;
  height: 5px;
  background-color: var(--accent);
}

ion-img::part(image) {
  border-radius: 50%;
  max-width: 50px;
  max-height: 50px;
  padding: 10px;
}

ion-row {
  background-color: var(--primary);
}

ion-toolbar {
  --background: var(--primary);
}

ion-label {
  align-items: center;
  display: flex;
  margin-inline-start: 16px;
}

.header-title {
  display: flex;
}

.menu-items {
  a {
    text-decoration: none;
    margin: 20px;
    color: var(--white);
    position: relative;
    transition: color 0.2s ease;
    padding: 3px 0;
    font-size: var(--fontMedium);
    font-weight: var(--skinny);

    &:hover {
      &::after,
      &::before {
        width: 100%;
        left: 0;
      }
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: calc(100%);
      width: 0;
      right: 0;
      height: 3px;
    }

    &::before {
      transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
      background: var(--accent);
    }

    &::after {
      transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
      background: var(--accent);
    }
  }
}

.title {
  vertical-align: middle;
  font-size: var(--fontLarge);
  font-weight: var(--bold);
  color: var(--accent);

  a {
    color: inherit;
    text-decoration: inherit;
  }
}

@media (min-width: 768px) {
  .mobile-header {
    display: none;
  }

  .desktop-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
}

@media (max-width: 768px) {
  ion-label {
    margin-inline-start: 0px !important;
  }

  ion-title {
    padding-inline-start: 0px !important;
  }

  .mobile-header {
    display: block;
  }

  .desktop-header {
    display: none;
  }
}
