@tailwind base;
@tailwind components;
@tailwind utilities;

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
**/
:root {
  --primaryColor: #0f172a;
  --secondaryColor: #363a3f;
  --accentColor: #86a492;
  --fourthColor: #cbcbab;
  --fifthColor: #e06128;
}

a {
  @apply no-underline relative transition-[color] duration-[0.2s] ease-[ease] before:transition-[width] before:duration-[0.4s] before:ease-[cubic-bezier(0.51,0.18,0,0.88)] before:delay-[0.1s] after:transition-[width] after:duration-[0.2s] after:ease-[cubic-bezier(0.29,0.18,0.26,0.83)];
}
a:hover::after,
a:hover::before {
  @apply w-full left-0;
}
a::after,
a::before {
  @apply content-[""] absolute w-0 h-[3px] right-0 top-[calc(100%)];
}
a::before {
  background: var(--accentColor);
}
a::after {
  background: var(--accentColor);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
