<ion-content>
  <div class="center">
    <div class="title">My Tech</div>
    <div class="intro">
      Here is some insight into some of the software and hardware I currently use day to day for development and other
      fun
      things.
    </div>
    <div class="header">Code Editor »</div>
    <div class="row">
      <div class="column">
        <img class="image" src="../../assets/images/codeeditor.jpg">
      </div>
      <div class="column">
        <ul>
          <li><a href="https://code.visualstudio.com" target="_blank">Visual Studio Code</a>, text editor</li>
          <li><a href="https://marketplace.visualstudio.com/items?itemName=Shan.code-settings-sync"
              target="_blank">Settings Sync</a>, stores your Visual Studio Code extensions in a Gist. Good if you use
            multiple machines. </li>
          <li><a href="https://gitlens.amod.io/" target="_blank">Git Lens</a>, quickly glimpse into whom, why, and when
            a
            line or code block was changed</li>
          <li><a href="https://marketplace.visualstudio.com/items?itemName=PKief.material-icon-theme"
              target="_blank">Material Icon Theme</a>, Material Design Icons for Visual Studio Code</li>
          <li><a href="https://marketplace.visualstudio.com/items?itemName=wayou.vscode-todo-highlight"
              target="_blank">TODO Highlight</a>, highlight TODOs, FIXMEs, and any keywords, annotations.</li>
          <li><a href="https://marketplace.visualstudio.com/items?itemName=HookyQR.beautify"
              target="_blank">Beautify</a>,
            beautify code in place for VS Code</li>
          <li><a href="https://marketplace.visualstudio.com/items?itemName=CoenraadS.bracket-pair-colorizer"
              target="_blank">Bracket Pair Colorizer</a>, customizable extension for colorizing matching brackets</li>
          <li><a href="https://gist.github.com/jasoneastburn/d037559c5f2dea32fc17d50cf1a2dfd1" target="_blank">Other
              Extensions</a>, Gist of my settings sync extensions</li>
        </ul>
      </div>
    </div>
    <div class="header">Hardware »</div>
    <div class="row">
      <div class="column">
        <ul>
          <li><a href="https://support.apple.com/kb/SP776?locale=en_US" target="_blank">MacBook Pro</a></li>
          <li><a href="https://pcpartpicker.com/user/Westfire/saved/#view=FykfdC" target="_blank">Custom Build PC
              (i7-12700K)</a></li>
          <li><a href="https://www.amazon.com/Google-Touchscreen-Keyboard-Generation-Fingerprint/dp/B0828JHKNP"
              target="_blank">Google Pixel Slate</a></li>
          <li><a href="https://www.amazon.com/Google-Pixel-Pro-Smartphone-Telephoto/dp/B09HYR2NC8"
              target="_blank">Google Pixel 6 Pro</a></li>
          <li><a href="https://store.google.com/product/pixel_buds" target="_blank">Google Pixel Buds</a></li>
        </ul>
      </div>
      <div class="column">
        <ul>
        </ul>
      </div>
    </div>
    <div class="header">This Site »</div>
    <div class="row">
      <div class="column">
        <ul>
          <li><a href="https://ionicframework.com/" target="_blank">Ionic Framework</a></li>
          <li><a href="https://angular.io/" target="_blank">Angular</a></li>
          <li><a href="https://fontawesome.com/" target="_blank">Font Awesome</a></li>
          <li><a href="https://firebase.google.com/" target="_blank">Firebase</a></li>
          <li><a href="https://www.contentful.com/" target="_blank">Contentful</a></li>
        </ul>
      </div>
      <div class="column">
        <ul>
        </ul>
      </div>
    </div>
    <div class="header">Misc »</div>
    <div class="row">
      <div class="column">
        <ul>
          <li><a href="https://mint.intuit.com/" target="_blank">Mint</a>, free budget tracker and planner</li>
          <li><a href="https://keep.google.com/u/0/" target="_blank">Google Keep</a>, simple note taking web app</li>
          <li><a href="https://www.accuweather.com/" target="_blank">AccuWeather</a>, weather 24x7</li>
        </ul>
      </div>
      <div class="column">
        <ul>
        </ul>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>