fa-icon {
  font-size: var(--faNormal);
}

hr {
  margin: 30px 0 40px 0;
  height: 6px;
  border: 0;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGAQMAAADaAn0LAAAABlBMVEX///+Mi4sf8CqyAAAAAXRSTlMAQObYZgAAABFJREFUeAFjAQEOFgEWBRYHAAIsAJmSrp9SAAAAAElFTkSuQmCC)
    repeat-x 0 0;
}

.flex-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.flex-child:last-child {
  margin-left: auto;
  padding-right: 125px;
}

.flex-child:first-child {
  margin-right: 100px;
  float: none;
}

.social {
  margin: 30px 0 30px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.subtitle {
  margin: 20px 0 30px 0;
  font-size: var(--fontLarge);
  color: var(--gray);
}

.title {
  font-size: var(--fontXLarge);
  font-weight: var(--bold);
}

.profile-photo {
  border-radius: 50%;
  max-width: 225px;
  width: 100%;
  height: auto;
}

.header {
  font-size: var(--fontLarge);
  font-weight: var(--bold);
  padding-bottom: 10px;
}

.intro {
  font-size: var(--fontNormal);
  line-height: 1.5;

  a {
    text-decoration: none;
    color: var(--accent);
    position: relative;
    transition: color 0.2s ease;

    &:hover {
      &::after,
      &::before {
        width: 100%;
        left: 0;
      }
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: calc(100%);
      width: 0;
      right: 0;
      height: 3px;
    }

    &::before {
      transition: width 0.4s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
      background: var(--primary);
    }

    &::after {
      transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
      background: var(--primary);
    }
  }
}

.item-image {
  vertical-align: middle;
  height: 35px;
  padding-right: 10px;
}

.item-icon {
  align-items: center;
  margin-bottom: 10px;
}

.item-container {
  display: flex;
}

.item {
  padding: 0.5em;
  border-left: 5px solid var(--background);
  border-radius: 2px 10px 10px 2px;
  font-size: var(--fontNormal);
  font-weight: var(--bold);
  vertical-align: middle;

  .item-subtitle {
    padding-left: 5px;
    color: var(--gray);
    font-size: var(--fontSmall);
  }

  a {
    vertical-align: middle;
    color: inherit;
    text-decoration: inherit;
  }
}

.item:hover {
  background-color: var(--primary);
  border-left: 5px solid var(--accent);
}

.item-icon {
  vertical-align: middle;
  height: 25px;
  padding-right: 5px;
}

.item-title {
  font-size: var(--fontNormal);
  align-items: center;
  margin-bottom: auto;
  margin-top: auto;
}

@media (max-width: 768px) {
  .flex-container {
    display: block;
  }

  .flex-child:first-child {
    margin-right: 0px;
  }

  .flex-child:last-child {
    text-align: center;
    padding-right: 0px;
  }
  .profile-photo {
    max-width: 150px;
  }
}
